.App {
  text-align: center;
}

#pokemonLogo {
  width: 25%;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#searchBars {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#pokemonInd {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: groove;
  border-color: white;
  margin: 40px;
  width: 400px;
}

